<h2>Öğrenciler</h2>
<div class="container-element box box-blue">
 <ul dnd-list="ogrenciler"
                
                dnd-allowed-types="['itemType']"
                dnd-horizontal-list="true"
                dnd-external-sources="true"
                dnd-dragover="dragoverCallback(event, index, external, type)"
                dnd-drop="dropCallback(event, index, item, external, type, 'itemType')"
                dnd-inserted="logEvent('Element was inserted at position ' + index, event)"
                class="itemlist">
                <li ng-repeat="item in ogrenciler"
                    dnd-draggable="item"
                    dnd-type="'itemType'"
                    dnd-effect-allowed="move"
                    dnd-dragstart="logEvent('Started to drag an item', event)"
                    dnd-moved="ogrenciler.splice($index, 1); logEvent('Item moved', event)"
                    dnd-copied="logEvent('Item copied', event)"
                    dnd-canceled="logEvent('Drag operation canceled', event)"
                    dnd-dragend="logEvent('Drag operation ended', event)" 
                    ng-class="{'little' : ayrintilar==false}">
                    {{item.label}}
              <select ng-show="ayrintilar" name="singleSelect" ng-model="item.yoklama" class="form-control"> {{item.yoklama}}
      <option value="geldi">Geldi</option>
      <option value="gelmedi">Gelmedi</option>
      <option value="onaylandı">Onaylandı</option>
      <option value="bekleniyor">Onay Bekleniyor</option>
    </select><br>




                </li>
            </ul>
            </div>